<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <title>MCQ Form</title>
</head>
<body>
    <div class="card">
        <h1>Multiple Choice Question</h1>
        <form id="mcq-form">
            <p> What is the purpose of Angular CLI?</p>
            <label>
                <input type="radio" name="answer" value="a"> a) To create HTML templates
            </label>
            <label>
                <input type="radio" name="answer" value="b"> b) Rome
            </label>
            <label>
                <input type="radio" name="answer" value="c"> c) London
            </label>
            <label>
                <input type="radio" name="answer" value="d"> d) Madrid
            </label>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
